<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" type="text/css" href="./stylesheets/newCars.css"> -->
    <title>Document</title>
</head>

<body>
    <div id = "wrapper">
        <h2>Add Car:</h2>
        <form action="#">
            Make:
            <input type = "text" name = "make" placeholder = "Toyota">
            Model:
            <input type = "text" name = "model" placeholder = "Camry">
            Year:
            <input type = "text" name = "year" placeholder = "1992">
            <button>Submit</button>
        </form>
    </div> 
</body>

</html>